/* Add Roboto Font from Google Fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #bea57d;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
header {
  background-color: #661614;
  grid-area: header;
  border-bottom: 5px solid #090f0f;
  display: flex;
  justify-content: space-around;
}
header img {
  border-radius: 100%;
  width: 20%;
  align-self: center;
}
header nav {
  width: 60%;
  align-self: flex-end;
  margin-bottom: 10%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 2.4rem;
}
header nav ul * {
  color: #090f0f;
  text-decoration: none;
}
main {
  background-color: #eff2c0;
  grid-area: main;
}
aside {
  background-color: #a4bab7;
  grid-area: aside;
  border-left: 1px solid #090f0f;
}
footer {
  background-color: #661614;
  grid-area: footer;
  display: flex;
  border-top: 5px solid #090f0f;
  padding: 2% 8% 0 8%;
}
footer nav {
  display: flex;
  gap: 2%;
  justify-content: space-around;
}
footer nav img {
  max-width: 300px;
  align-items: center;
}
