body {
  background-color: #bea57d;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
header {
  background-color: #661614;
  grid-area: header;
}
main {
  background-color: #eff2c0;
  grid-area: main;
}
aside {
  background-color: #a4bab7;
  grid-area: aside;
}
footer {
  background-color: #661614;
  grid-area: footer;
  display: flex;
  border-top: #090f0f;
  padding: 2% 8% 0 8%;
}
footer nav img {
  max-width: 300px;
}
